*{
   
  background: #2F0000;
  color:#ff7121; 
  padding-left: 4px;
  margin:1px;
  text-decoration: none;
  font-size:1.1rem;
  font-family:"Courier";
}

progress {
  border: none;
  width: 500px;
  height: 60px;
  background: #200000;
   
}

progress::-webkit-progress-bar {
            background-color: #300000;
        }

progress::-webkit-progress-value {
   
   background: #600000;
  color:#200000; 
  
}


 .INPUT {
  align-items: center;
  background-image: linear-gradient(35deg,#1F000f, #3B0001  ,#10000f);
  border: 1px solid #7f0000;
  color:#ff7000; 
  padding-left: 4px;
  margin:1px;
  text-decoration: none;
  cursor: text;
  width:70rem; 
  height:40px;
  font-size:1.2rem;
  border-radius:8px;
   
   
}
h1{
	font-size:1.8rem;
	text-align:center;
	font-family:"Times";
	font-style:italic;
	color:#ff8121;
	padding-bottom:1rem;
	padding-top:1rem;
	background-image: linear-gradient(125deg,#1F0000, #3B0000  ,#100000);
    user-select:none;
}
hr{
	  border: 1px solid #1f0000;
 
}
 .BTN{
	 align-items: center;
  background-image: linear-gradient(35deg,#1F0000, #3B0000  ,#100000);
  border: 1px solid #7f0000;
  color:#ef4000; 
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom:0.5rem;
	padding-top:0.5rem;
  margin:5px;
  text-decoration: none;
  cursor: pointer;
   
  font-size:1.5rem;
  border-radius:8px;
   
  display:inline;
	 min-width:34px;
	  
	 height:2rem;
	 font-size:0.9rem;
	 display:inline;
 }

.INPUT:hover,.BTN:hover  {
  color:#ff5f31; 
border: 1px solid #af0000;  
}

.INPUT:active,.INPUT:focus,.BTN:active,.BTN:focus{
  color:#ff6f2f;
  outline:none;
  border: 1px solid #ff0000;
   
}
